
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/* Colors */

$accent      : #f4645f;
$lingboxGray : #ccc;


/* Site specific */


/* Entry.show */

.vote {
  color : $lingboxGray;
} 

.voted {
  color : $accent;
}