
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/* Colors */

$lingboxTheme0 : #6fb6df;
$lingboxTheme1 : #3097D1;
$lingboxTheme2 : #216a94;

$accent      : #f4645f;

$lingboxGray : #ccc;


@media screen and (max-device-width: 767px){

  #search-xs{
    display:block;
  }
  
}

@media screen and (min-width: 768px){

  #search-xs{
    display:none;
  }
  
}


/* Site specific */

/* Public home */

.jumbotron {
  height:240px;
  padding-top:100px;
  background:linear-gradient(160deg, $lingboxTheme0 15%, $lingboxTheme1 75%)
}

#home-jumbo-search button{
  height:48px;
}

#home-jumbo-search button i{
  font-size:1.4em;
  top:4px;
}

#home-jumbo-search input{
  height:48px;
  font-size:1.4em;
}

#h1-join-us{
  color:$lingboxTheme1;
  font-weight:300;
  font-size:2.5em;
  text-align:center;
  line-height:4em;
  margin-top:0;
}

#jumbo-register{
  text-align:center;
  margin-bottom:3em;
}

#jumbo-register .btn{
  margin-top:-8px;
}

#jumbo-register a{
  margin:auto 10px;
  font-size:1.5em;
  padding:6px 32px;
}

#shuffle{
  float:right;
  font-size:1em;
  margin-right:10px
}

/* Entry.show */

.vote {
  color : $lingboxGray;
} 

.voted {
  color : $accent;
}

.entry-votes {
  text-align : center;
  font-size  : 1.5em;
}

/* Footer */

footer div {
  margin-top: 20px;
}

.footer-copyright{
  text-align:center;
  padding-top: 20px;
  padding-bottom: 10px;
}